/* palette colors */
$body-background-color: #d3d3d3;
$button-background-color: #e10600;
$white-text-color: #ffffff;
$default-text-color: #181818;
$highlight-background-color: #6699ff;

/* font family */
$font-family: "Roboto", sans-serif;

/* font size */
$font-size-normal: 12px;


/* font weight */
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-large: 700 !default;