<div class="container">

  <form [formGroup]="converterForm">
    <div class="row">
      <div class="col-sm-12 col-xs-3 col-md-3 col-lg-3">
        Enter amount here:
        <input class="form-control" (blur)="reset()" formControlName="txtAmount" [options]="currencyMaskOptions"
          required currencyMask>
      </div>

      <div class="col-sm-12 col-xs-3 col-md-3 col-lg-3">
        From:
        <select class="form-control" (change)="reset()" formControlName="selectFrom" required>
          <option *ngFor="let item of currencyList" value="{{item.code}}">{{item.name}}</option>
        </select>
      </div>

      <div class="col-sm-12 col-xs-3 col-md-3 col-lg-3">
        To:
        <select class="form-control" (change)="reset()" formControlName="selectTo" required>
          <option *ngFor="let item of currencyList" value="{{item.code}}">{{item.name}}</option>
        </select>
      </div>

      <div class="col-sm-12 col-xs-3 col-md-3 col-lg-3">
        <button type="button" (click)="compute()" [disabled]="!converterForm.valid"
          class="form-control btn btn-primary convert-currency-button"><span
            class="fx-button-normal-text">Convert</span></button>
      </div>
    </div>
  </form>

  <div *ngIf="(loading$ | async)" class="fx-view-container">
    <app-loading-indicator> </app-loading-indicator>
  </div>

  <div *ngIf="((error$ | async).error || (conversionRate$ | async)?.errorMessage) && !(loading$ | async)"
    class="fx-view-container">
    <app-error-screen (retryClicked)='compute()' [errorMessage]="(conversionRate$ | async)?.errorMessage">
    </app-error-screen>
  </div>

  <div *ngIf="(conversionRate$ | async)?.exchangeRate && !(loading$ | async)" class="fx-view-container">
    <div class="container">
      <div class="row">
        <div class="col">
          Unit Value:
        </div>
        <div class="col display-value">
          {{(conversionRate$ | async)?.exchangeRate | currency : converterForm.controls['selectTo'].value }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Amount Value:
        </div>
        <div class="col display-value">
          {{(conversionRate$ | async)?.exchangeRate | exchangeRatePipe: converterForm.controls['txtAmount'].value | currency : converterForm.controls['selectTo'].value }}
        </div>
      </div>
    </div>
  </div>

</div>