<div class="container">

  <form [formGroup]="converterForm">
    <div class="row">
      <div class="col">
        Enter amount here:
        <input class="form-control" formControlName="txtAmount" [options]="currencyMaskOptions" required currencyMask>
      </div>

      <div class="col">
        From:
        <select class="form-control" formControlName="selectFrom" required>
          <option *ngFor="let item of currencyList" value="{{item.code}}">{{item.name}}</option>
        </select>
      </div>

      <div class="col">
        To:
        <select class="form-control" formControlName="selectTo" required>
          <option *ngFor="let item of currencyList" value="{{item.code}}">{{item.name}}</option>
        </select>
      </div>

      <div class="col">
        <button type="button" (click)="compute()" [disabled]="!converterForm.valid"
          class="form-control btn btn-primary convert-currency-button">Convert</button>
      </div>
    </div>
  </form>

  <!-- <ng-container *ngIf="(conversionRate$ | async)?.exchangeRate; then result else loadingOrError"></ng-container> -->

  <!-- <ng-template #result>
    <div>
      {{(conversionRate$ | async)?.exchangeRate}}
    </div>
  </ng-template> -->

<!--ng-container directive is used here to conditionally render the screens -->



</div>